.background-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: #f0ebf8;
}

.predictions-container {
  max-width: 1280px;
}

.drag-container {
  height: 100%;
  overflow: auto;
  background: #fafafa;
  width: 100%;
  justify-content: center;
}

.image-container {
  height: 110px;
}

.team-card-container {
}

.team-card {
  cursor: move;
}

