<div class="background-container flex-row justify-center px-3">
    <div class="predictions-container py-6 mx-auto flex flex-col h-full">
        <div class="flex justify-center">
            <h1 class=""><span>Hi, {{ discordUser?.username || 'someone unknown' }}.</span><span class="ml-3">Welcome to DC8 Pick'em (Swiss Stage)</span></h1>
        </div>
        <div class="drag-container w-full flex-1 flex flex-row flex-wrap rounded-lg px-4 sm:px-10" cdkDropListGroup>
            <ng-container *ngFor="let team of teams; let i = index; trackBy: trackByName">
                <div cdkDropList cdkDropListOrientation="horizontal" class="min-w-[272px] sm:min-w-[392px] min-h-[276px] p-4" [cdkDropListData]="{ item:team, index:i }" (cdkDropListDropped)="drop($event)">
                    <mat-card class="team-card sm:w-[360px] w-[240px]" cdkDrag>
                        <div *cdkDragPlaceholder></div>
                        <mat-card-header>
                            <mat-card-title>
                                <span>{{ team?.name }}</span>
                            </mat-card-title>
                            <mat-card-subtitle>
                                <span>#{{ i + 1}}</span>
                            </mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="image-container max-w-max">
                                <img [src]="'assets/teams/' + team?.imageUrl" [alt]="team?.name">
                            </div>
                        </mat-card-content>
                        <mat-card-actions>
                            <div class="w-full flex justify-between">
                                <div>
                                    <button (click)="moveUp(i)" mat-icon-button><mat-icon>arrow_upward</mat-icon></button>
                                </div>
                                <div>
                                    <button (click)="moveDown(i)" mat-icon-button><mat-icon>arrow_downward</mat-icon></button>
                                </div>
                            </div>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </ng-container>

        </div>
        <div class="flex justify-start pt-6 px-0">
            <div>
                <button (click)="save()" mat-raised-button color="primary">Submit</button>
            </div>
        </div>
    </div>
</div>

