.button-container {
  background: #26262b;
  width: 100vw;
  height: 100vh;
}

.discord-link {
  display: block;
  background-color: #7289da;
  border: 2px solid #7289da;
  color: #fff;
  padding: 10px 30px;
  cursor: pointer;
  border-radius: 10px;
}