<ng-container *ngIf="!showPrediction; else predictions">
    <app-after-login (showPredictions)="showPrediction = true" *ngIf="hasCode; else noCode"></app-after-login>
    <ng-template #noCode>
        <app-login></app-login>
    </ng-template>
</ng-container>
<ng-template #predictions>
    <app-predictions></app-predictions>
</ng-template>
